<section class="page-section {{ section.background_style }}" id="{{ section.section_id }}">
  <div class="container">
    <h2 class="text-center mt-0" style="color: #2f2e41 !important">{{ section.title }}</h2>
    <hr class="divider my-4">
    
    <!-- <div class="row justify-content-center">
      {% for member in section.members %}
      <div class="col-lg-3 col-md-6 text-center">
        <div class="member-box">
          <img class="fa fa-4x text-primary" src="{{ member.image }}" alt="{{ member.title }}">
          <h3 class="h4 mt-2">{{ member.title }}</h3>
          
        </div>
      </div>
      {% endfor %}
    </div> -->
    <div id="benefits"></div>
  </div>
</section>
