
 .container-devices-sm{
  margin: 10px;
  justify-content: center;
  height: inherit;
  text-align: center;
  padding: 0;
  position: relative;
  width: 100%;
 
}

.container-devices-sm p{
  float: left;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: medium;
  margin-top : 40px;
  
}

.container-device-view{
flex-flow: row nowrap;
display: flex;
justify-content: center;
align-items: center;
margin: 0.5rem;
}

.item-view{
margin:0
}

.iphone12-sm{
  position: absolute;
  left: 130px;
  top: 4px;
  margin: 0;
}

.nexus5-sm{ 
  margin-left: -150px;
}

.pagehead {
  height: 15em !important;
  min-height: 15em !important;
}
.page-section-smaller {
  padding: 2rem 0;
}

.container-devices{
  margin-top: 140px;
  margin-bottom: 140px;
  text-align: center;
  justify-content: center;
  padding: 0;
  position: relative;
  width:fit-content;
 
}

.container-devices p{
  text-align: center;
  justify-content: center;
  font-weight: bolder;
  font-size: medium;
  margin-top : 3px;
}

.iphone12{
  position: absolute;
  left: 150px;
  top: 2px; /* 30px */
  margin: 0;
}

.nexus5{
  margin: 0;
}

.phones{
  position: absolute;
  left: 500px;
  top: -90.5px; /* -50px */
  margin: 0
}

.moonTab{
  margin-left: -600px; /* 0 */
}

.moonBook{
  position: absolute;
  top: 25px;
  left: 827px;               
}

.mainContainer{
  position: relative;
  margin: 0;
}
